[submodule "MicroserviceSongService"]
	path = MicroserviceSongService
	url = https://github.com/loudbyte/MicroserviceSongService
[submodule "MicroserviceResourceService"]
	path = MicroserviceResourceService
	url = https://github.com/loudbyte/MicroserviceResourceService
